<div class="card hoverable" >
  <!--[ngClass]="racket.weight > 95 ? 'heavy' : 'light'" 
                  [style.outline]="racket.brand =='Head' ? '1px dashed black': ''">-->
  <div class="card-image">
    <img [src]="racket.img">
    <span class="card-title red-text text-darken-3"><a [routerLink]="['/racket', racket.name]">{{racket.name}}</a></span>
  </div>
  <div class="card-content">
    <p>Weight: {{racket.weight}}</p>
    <p>Brand: {{racket.brand}}</p>
  </div>
  <div class="card-action"  [hidden]="selected">
    <button class="btn" (click)="selectRacket(racket)"> Choose</button>
  </div>
</div>



<!--<div class="col s12 m4 l3">
  <div class="card">
    <div class="card-image">
      <img src="http://www.directtennis.co.uk/Images/ExtraLarge/head_ti_s6_tennis_racket_black.jpg">
      <span class="card-title red-text text-darken-3">Racket Name</span>
    </div>
    <div class="card-content">
      <p>Weight: racket.weight</p>
      <p>Brand: racket.brand</p>
    </div>
    <div class="card-action">
      <button class="btn"> Choose</button>
    </div>
  </div>
</div>-->